.homepage {
    .mod-header {
        display: none;
    }

    .obsidian-banner-icon::after {
        content: "home.";
        font-family: "Metro Sans", -apple-system, sans-serif;
        font-size: 0.75em;
        margin-top: auto;
        padding-left: 100px;
        font-weight: bold;
        color: #ff8888;
    }

    .obsidian-banner-icon {
        /* From https://css.glass */
        background: rgba(93, 99, 180, 0.35);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.8px);
        -webkit-backdrop-filter: blur(9.8px);
        border: 1px solid rgba(93, 99, 180, 1);
    }
}