body:not(.is-mobile) .nav-folder.mod-root > .nav-folder-title .nav-folder-title-content {
    color: var(--text-accent);
    font-size: 20px;
    font-family: "PP Fuji", --apple-system, sans-serif;
    text-transform: lowercase;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 20px;
}

.nav-folder.mod-root > .nav-folder-title, .nav-folder.mod-root > .nav-folder-title:hover  {
    background-image: url("https://raw.githubusercontent.com/64bitpandas/bencuan.me/main/src/fontcustom/turtlenet.svg") !important;
    background-color: transparent !important;
    background-repeat: no-repeat !important;
    background-size: contain;
    background-position: left;
    border: 3px transparent;
    box-sizing: border-box;
    height: auto;
    margin-left: 10px;
    margin-bottom: 10px;
}

.tree-item-self {
    transition: transform 0.1s linear;
}

.tree-item-self:hover, .tree-item-self.is-active {
    transform: scale(1.01);
    background: #EEEEEE !important;
    color: #5588FF !important;
    font-weight: bold !important;
    cursor: pointer;
}
