// Some more custom colors and aliases from Rosè Pine Dawn.
:root {
  --pine: #286983;
  --foam: #56949f;
  --iris: #907aa9;
  --gold: #ea9d34;
  --rose: #d7827e;
  --highlight-low: #f4ede8;
  --highlight-medium: #e0def4;
  --highlight-high: #d7c7be;
}
