:root {
  // Rosè Pine Dawn. https://rosepinetheme.com/
  --pine: #286983;
  --foam: #56949f;
  --iris: #907aa9;
  --gold: #ea9d34;
  --rose: #d7827e;
  --highlight-low: #f4ede8;
  --highlight-medium: #e0def4;
  --highlight-high: #d7c7be;

  // https://catppuccin.com/
  --cat-background: #eff1f5;
  --cat-background-alt: #e6e9ef;
  --cat-background-light: #e6e9ef;
  --cat-rosewater: #dc8a78;
  --cat-yellow: #df8e1d;
  --cat-orange: #fe640b;
  --cat-blue: #1e66f5;
  --cat-green: #297638; // overridden with bencuan.me color
  --cat-red: #d20f39;
  --cat-maroon: #e64553;
  --cat-purple: #8839ef;
  --cat-lavender: #7287fd;
  --cat-teal: #179299;
  --cat-sky: #04a5e5;
  --cat-pink: #ea76cb;
  --cat-text: #4c4f69;
  --cat-text-light: #6c6f89;
  --cat-text-highlight: #eff1f5;
  --cat-gray: #ccd0da;
}
