@use "colors";
@use "fonts";

.explorer-content {
  padding-right: 0.2em;
}

.folder-container {
  margin-bottom: 0.5em;
}

.folder-container div > a {
  color: color-mix(in srgb, var(--cat-green) 75%, black);
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  font-size: 1.2em;
  font-weight: 450;
  line-height: 1.5em;
  display: inline-block;
}

.explorer-content ul li > a {
  font-weight: 500;
  font-size: 1.1em;
}

.explorer svg {
  &:hover {
    color: var(--cat-teal) !important;
  }
}

button.mobile-explorer h2,
button.desktop-explorer h2 {
  margin: 0;
  font-size: 1.5em;
  display: inline-block;
  font-family: "Fira Code", sans-serif;
}

.custom-folder-icon {
  height: 2em;
  width: 2em;
  margin: 0;
  margin-right: 0.5em;
  float: left;
  transform: translateY(-0.2em);
}

.explorer-content ul li > a.active {
  opacity: 1;
  color: var(--cat-teal);
  font-weight: 600;
  text-decoration: underline;
  margin-top: 10px !important;
}

.note-stage-icon {
  height: 1.5em !important;
  width: 1.5em !important;
  margin: 0;
  margin-left: 0.2em;
  float: left;
  transform: translateY(-0.125em);
}

.explorer-content ul li {
  line-height: 1.2;
  margin-bottom: 0.4rem;
}
