@use "mixins";
@use "visitors";

body:has(.homepage-title) {
  .homepage-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.5em;
    font-weight: normal;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0.25em;
    color: black;
    font-family: "The Cats Whiskers", serif;

    .homepage-title-panda {
      height: 1.5em;
      width: 1.5em;
      margin: 0;
      margin-left: 0.5rem;
    }
  }

  .right.sidebar {
    display: none !important;
  }

  .homepage-subtitle {
    font-size: 1.25em;
    font-weight: normal;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0.25rem;
    color: var(--darkgray);
    font-family: "Charter", serif;
    text-align: center;
  }

  .homepage-divider {
    width: 33%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .homepage-top-banner {
    width: 100%;
    max-width: 100vw;
    height: 40px;
    display: block;
    margin: 0;
    padding: 0;
    // position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .homepage-header {
    display: flex;
    align-items: center;
    font-size: 1.75em;
    font-weight: bold;
    line-height: 1.1;
    margin-top: 1em;
    margin-bottom: 0;
    color: black;
    font-family: "Charter", serif;

    .homepage-header-icon {
      height: 1.75em;
      width: 1.75em;
      margin: 0;
      margin-right: 0.5rem;
    }
  }

  thead {
    display: none;
  }

  table {
    margin-top: 0;
    margin-bottom: 0;
  }

  .left.sidebar {
    padding-right: 1em !important;
    padding-left: 1em !important;
    margin-top: 3em;
  }

  @include mixins.screen("tablet") {
    .center {
      margin-right: 1.5em !important;
    }
  }

  // @include mixins.screen("not-mobile") {
  //   #quartz-body {
  //     grid-template:
  //       "grid-sidebar-left grid-header"
  //       "grid-sidebar-left grid-center"
  //       "grid-sidebar-left grid-footer" / 350px auto;
  //   }
  // }

  @include mixins.screen("mobile") {
    .left.sidebar div {
      background-color: var(--light);
      border-radius: 5px;
    }
  }

  ul {
    margin-top: 0.25em;
  }

  p {
    margin: 0.1em;
  }
}

.weather-now-playing img {
  background-color: color-mix(in srgb, var(--cat-blue) 30%, transparent);
  border-radius: 15px;
  margin: 5px;
  height: 23px;
  width: 23px;
  vertical-align: middle;
}

.spotify-now-playing img {
  width: 23px;
  height: 23px;
  vertical-align: middle;
  margin: 5px;
  border-radius: 15px;
}

// Fix for Safari putting these on a different line from the bullet point >:(
.weather-container,
.turtlenet-status {
  display: inline-flex;
}
