// Custom scrollbar
* {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px; // thinner horizontal scrollbar

    &-thumb {
      background: color-mix(in srgb, var(--cat-green) 60%, transparent);
      border-radius: 3px;
    }

    &-track {
      background-color: var(--highlight-low);
    }
  }
}

code::-webkit-scrollbar-thumb {
  background: var(--rose);
}
