// Custom scrollbar
* {
  &::-webkit-scrollbar {
    width: 8px;
    height: 6px; // thinner horizontal scrollbar

    &-thumb {
      background: var(--cat-green);
      border-radius: 3px;
    }

    &-track {
      background-color: var(--highlight-low);
    }
  }
}

code::-webkit-scrollbar-thumb {
  background: var(--rose);
}
